# Ignore Docker startup script which varies depending on system configuration
startup.sh
startup_cpu.sh
startup_cuda.sh
atch.sh

# Ignore ROS package build artifacts
build
install
log
*.png
*.npy

# Ignore generated data
drive_data
posefromkeypoints
data/image_list.txt
