# Ignore Docker startup script which varies depending on system configuration
startup.sh
atch.sh

# Ignore ROS package build artifacts
build
install
log
*.png

# Ignore generated data
data/